Code:Resources/Exams/Luglio/Client1/src/wsdl/localhost_8080/MovieDatabase.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://server.msecs.uniroma1.edu/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ExamImplService" targetNamespace="http://server.msecs.uniroma1.edu/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://server.msecs.uniroma1.edu/" elementFormDefault="unqualified" targetNamespace="http://server.msecs.uniroma1.edu/" version="1.0">

  <xs:element name="director" type="tns:director"/>

  <xs:element name="getDirector" type="tns:getDirector"/>

  <xs:element name="getDirectorResponse" type="tns:getDirectorResponse"/>

  <xs:element name="getDirettore" type="tns:getDirettore"/>

  <xs:element name="getDirettoreResponse" type="tns:getDirettoreResponse"/>

  <xs:element name="getFilm" type="tns:getFilm"/>

  <xs:element name="getFilmResponse" type="tns:getFilmResponse"/>

  <xs:element name="getMovie" type="tns:getMovie"/>

  <xs:element name="getMovieResponse" type="tns:getMovieResponse"/>

  <xs:element name="getMovies" type="tns:getMovies"/>

  <xs:element name="getMoviesResponse" type="tns:getMoviesResponse"/>

  <xs:element name="movie" type="tns:movie"/>

  <xs:complexType name="getDirettore">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getDirettoreResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:director"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="director">
    <xs:sequence>
      <xs:element name="ID" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="yearOfBirth" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getMovie">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getMovieResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:movie"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="movie">
    <xs:sequence>
      <xs:element name="directorID" type="xs:int"/>
      <xs:element name="ID" type="xs:int"/>
      <xs:element minOccurs="0" name="title" type="xs:string"/>
      <xs:element minOccurs="0" name="year" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getMovies">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getMoviesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getFilm">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getFilmResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:movie"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getDirector">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getDirectorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:director"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getDirettore">
    <wsdl:part element="tns:getDirettore" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMovie">
    <wsdl:part element="tns:getMovie" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDirectorResponse">
    <wsdl:part element="tns:getDirectorResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMovieResponse">
    <wsdl:part element="tns:getMovieResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDirettoreResponse">
    <wsdl:part element="tns:getDirettoreResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMovies">
    <wsdl:part element="tns:getMovies" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getFilmResponse">
    <wsdl:part element="tns:getFilmResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMoviesResponse">
    <wsdl:part element="tns:getMoviesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getFilm">
    <wsdl:part element="tns:getFilm" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getDirector">
    <wsdl:part element="tns:getDirector" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="Exam">
    <wsdl:operation name="getDirettore">
      <wsdl:input message="tns:getDirettore" name="getDirettore">
    </wsdl:input>
      <wsdl:output message="tns:getDirettoreResponse" name="getDirettoreResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMovie">
      <wsdl:input message="tns:getMovie" name="getMovie">
    </wsdl:input>
      <wsdl:output message="tns:getMovieResponse" name="getMovieResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMovies">
      <wsdl:input message="tns:getMovies" name="getMovies">
    </wsdl:input>
      <wsdl:output message="tns:getMoviesResponse" name="getMoviesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFilm">
      <wsdl:input message="tns:getFilm" name="getFilm">
    </wsdl:input>
      <wsdl:output message="tns:getFilmResponse" name="getFilmResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDirector">
      <wsdl:input message="tns:getDirector" name="getDirector">
    </wsdl:input>
      <wsdl:output message="tns:getDirectorResponse" name="getDirectorResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExamImplServiceSoapBinding" type="tns:Exam">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getDirettore">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getDirettore">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDirettoreResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMovie">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getMovie">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMovieResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMovies">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getMovies">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMoviesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFilm">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getFilm">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getFilmResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDirector">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getDirector">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getDirectorResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExamImplService">
    <wsdl:port binding="tns:ExamImplServiceSoapBinding" name="ExamImplPort">
      <soap:address location="http://localhost:8080/MovieDatabase"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>